-- Tạo database
CREATE
DATABASE ev_rental_2;
GO
USE ev_rental_2;
GO

-- ======================================
-- ADDRESS & RENTAL STATION
-- ======================================
CREATE TABLE Address
(
    address_id INT PRIMARY KEY IDENTITY(1,1),
    city       NVARCHAR(100),
    district   NVARCHAR(100),
    ward       NVARCHAR(100),
    street     NVARCHAR(255)
);

CREATE TABLE RentalStation
(
    station_id INT PRIMARY KEY IDENTITY(1,1),
    name       NVARCHAR(100),
    address_id INT,
    active     BIT,
    FOREIGN KEY (address_id) REFERENCES Address (address_id)
);

CREATE TABLE RentalTracking
(
    tracking_id     INT PRIMARY KEY IDENTITY(1,1),
    rental_order_id INT NOT NULL,
    vehicle_id      INT NOT NULL,
    pickup_at       DATETIME,
    return_due_at   DATETIME,
    return_at       DATETIME,
    status          NVARCHAR(20) DEFAULT 'ONGOING', -- ONGOING, CLOSED, LATE, DISPUTE
    created_at      DATETIME DEFAULT GETDATE(),
    updated_at      DATETIME DEFAULT GETDATE(),
    CONSTRAINT fk_tracking_order FOREIGN KEY (rental_order_id) REFERENCES RentalOrder (order_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle (vehicle_id)
);

-- ======================================
-- USER & ROLE
-- ======================================
CREATE TABLE [User] (
    user_id INT PRIMARY KEY IDENTITY(1,1),
    full_name NVARCHAR(100),
    password NVARCHAR(100),
    phone NVARCHAR(20),
    role NVARCHAR(20) CHECK (role IN ('customer','staff')),
    kyc_status NVARCHAR(50) CHECK (kyc_status IN ('verified','pending'))
    );

CREATE TABLE Customer
(
    customer_id    INT PRIMARY KEY,
    email          NVARCHAR(100),
    license_number NVARCHAR(50),
    cccd_number    NVARCHAR(50),
    cccd_front     NVARCHAR(255),
    cccd_back      NVARCHAR(255),
    license_photo  NVARCHAR(255),
    FOREIGN KEY (customer_id) REFERENCES [User](user_id)
);

CREATE TABLE Staff
(
    staff_id   INT PRIMARY KEY,
    email      NVARCHAR(100),
    position   NVARCHAR(50),
    station_id INT,
    FOREIGN KEY (staff_id) REFERENCES [User](user_id),
    FOREIGN KEY (station_id) REFERENCES RentalStation (station_id)
);

-- ======================================
-- VEHICLE & ATTRIBUTES
-- ======================================
CREATE TABLE Vehicle
(
    vehicle_id   INT PRIMARY KEY IDENTITY(1,1),
    station_id   INT,
    plate_number NVARCHAR(20),
    status       NVARCHAR(20) CHECK (status IN ('available','rented','maintenance','broken')),
    FOREIGN KEY (station_id) REFERENCES RentalStation (station_id)
);

CREATE TABLE VehicleAttribute
(
    attr_id    INT PRIMARY KEY IDENTITY(1,1),
    vehicle_id INT,
    attr_name  NVARCHAR(50),
    value      NVARCHAR(100),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle (vehicle_id)
);

-- ======================================
-- PRICING RULE
-- ======================================
CREATE TABLE PricingRule
(
    pricing_rule_id INT PRIMARY KEY IDENTITY(1,1),
    vehicle_id      INT,
    rule_type       NVARCHAR(20) CHECK (rule_type IN ('hourly','distance')),
    unit_limit      INT,
    price           DECIMAL(10, 2),
    created_at      DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle (vehicle_id)
);

-- ======================================
-- RENTAL ORDER
-- ======================================
CREATE TABLE RentalOrder
(
    order_id    INT PRIMARY KEY IDENTITY(1,1),
    customer_id INT,
    vehicle_id  INT,
    start_time  DATETIME,
    end_time    DATETIME,
    total_price DECIMAL(10, 2),
    status      NVARCHAR(20) CHECK (status IN ('pending','active','completed','cancelled')),
    FOREIGN KEY (customer_id) REFERENCES Customer (customer_id),
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle (vehicle_id)
);

-- ======================================
-- PAYMENT & PENALTY
-- ======================================
CREATE TABLE Payment
(
    payment_id INT PRIMARY KEY IDENTITY(1,1),
    order_id   INT,
    amount     DECIMAL(10, 2),
    method     NVARCHAR(20) CHECK (method IN ('card','cash','momo')),
    status     NVARCHAR(20) CHECK (status IN ('paid','failed','pending')),
    created_at DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (order_id) REFERENCES RentalOrder (order_id)
);

CREATE TABLE Penalty
(
    penalty_id  INT PRIMARY KEY IDENTITY(1,1),
    order_id    INT,
    name        NVARCHAR(100),
    description NVARCHAR(255),
    fee         DECIMAL(10, 2),
    note        NVARCHAR(255),
    FOREIGN KEY (order_id) REFERENCES RentalOrder (order_id)
);

-- ======================================
-- DAMAGE REPORT
-- ======================================
CREATE TABLE DamageReport
(
    report_id   INT PRIMARY KEY IDENTITY(1,1),
    vehicle_id  INT,
    reporter_id INT,
    station_id  INT,
    description NVARCHAR(500),
    status      NVARCHAR(20) CHECK (status IN ('pending','in_progress','resolved')),
    created_at  DATETIME DEFAULT GETDATE(),
    resolved_at DATETIME NULL,
    handled_by  INT NULL,
    FOREIGN KEY (vehicle_id) REFERENCES Vehicle (vehicle_id),
    FOREIGN KEY (reporter_id) REFERENCES [User](user_id),
    FOREIGN KEY (station_id) REFERENCES RentalStation (station_id),
    FOREIGN KEY (handled_by) REFERENCES [User](user_id)
);

-- ======================================
-- FEEDBACK & PHOTO
-- ======================================
CREATE TABLE Feedback
(
    feedback_id INT PRIMARY KEY IDENTITY(1,1),
    order_id    INT,
    rating      INT CHECK (rating BETWEEN 1 AND 5),
    comment     NVARCHAR(255),
    created_at  DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (order_id) REFERENCES RentalOrder (order_id)
);

CREATE TABLE Photo
(
    photo_id    INT PRIMARY KEY IDENTITY(1,1),
    entity_type NVARCHAR(50), -- vehicle, user, order, damage_report, contract (scan/upload)
    entity_id   INT,
    url         NVARCHAR(255),
    uploaded_at DATETIME DEFAULT GETDATE()
);

-- ======================================
-- ADDRESS
-- ======================================

-- ======================================
-- RENTAL STATION
-- ======================================
INSERT INTO RentalStation (name, address_id, active)
VALUES ('Hanoi EV Station 1', 1, 1),
       ('Hanoi EV Station 2', 2, 1),
       ('HCM EV Station 1', 3, 1),
       ('HCM EV Station 2', 4, 1),
       ('Danang EV Station', 5, 1),
       ('Hue EV Station', 6, 1),
       ('Can Tho EV Station', 7, 1),
       ('Hai Phong EV Station', 8, 1),
       ('Vung Tau EV Station', 9, 1),
       ('Binh Duong EV Station', 10, 1);

-- ======================================
-- USER
-- ======================================

-- ======================================
-- CUSTOMER
-- ======================================

-- ======================================
-- STAFF
-- ======================================
INSERT INTO Staff (email, position, station_id)
VALUES ('f1@gmail.com', 'Manager', 1),
       ('g1@gmail.com', 'Technician', 2),
       ('h1@gmail.com', 'Manager', 3),
       ('i1@gmail.com', 'Technician', 4),
       ('j1@gmail.com', 'Staff', 5),
       ('f2@gmail.com', 'Staff', 6),
       ('g2@gmail.com', 'Manager', 7),
       ('h2@gmail.com', 'Technician', 8),
       ('i2@gmail.com', 'Staff', 9),
       ('j2@gmail.com', 'Manager', 10);

-- ======================================
-- VEHICLE
-- ======================================
INSERT INTO Vehicle (station_id, plate_number, status)
VALUES (1, '30A-11111', 'available'),
       (2, '30A-11112', 'rented'),
       (3, '30A-11113', 'maintenance'),
       (4, '30A-11114', 'broken'),
       (5, '30A-11115', 'available'),
       (6, '30A-11116', 'available'),
       (7, '30A-11117', 'rented'),
       (8, '30A-11118', 'maintenance'),
       (9, '30A-11119', 'broken'),
       (10, '30A-11120', 'available');

-- ======================================
-- VEHICLE ATTRIBUTE
-- ======================================

-- ======================================
-- PRICING RULE
-- ======================================

-- ======================================
-- RENTAL ORDER
-- ======================================

-- ======================================
-- PAYMENT
-- ======================================
INSERT INTO Payment (order_id, amount, method, status)
VALUES (1, 30.0, 'card', 'paid'),
       (2, 40.0, 'cash', 'paid'),
       (3, 25.0, 'momo', 'paid'),
       (4, 35.0, 'card', 'failed'),
       (5, 50.0, 'cash', 'pending'),
       (6, 20.0, 'momo', 'paid'),
       (7, 22.0, 'card', 'paid'),
       (8, 33.0, 'cash', 'pending'),
       (9, 30.0, 'momo', 'paid'),
       (10, 45.0, 'card', 'paid');

-- ======================================
-- PENALTY
-- ======================================

-- ======================================
-- DAMAGE REPORT
-- ======================================

-- ======================================
-- FEEDBACK
-- ======================================
INSERT INTO Feedback (order_id, rating, comment)
VALUES (1, 5, 'Excellent service'),
       (2, 4, 'Good experience'),
       (3, 3, 'Average'),
       (4, 2, 'Not satisfied'),
       (5, 5, 'Very good'),
       (6, 4, 'Satisfied'),
       (7, 5, 'Excellent'),
       (8, 3, 'Okay'),
       (9, 4, 'Good'),
       (10, 5, 'Perfect');

-- ======================================
-- PHOTO
-- ======================================
INSERT INTO Photo (entity_type, entity_id, url)
VALUES ('vehicle', 1, 'url_vehicle1.jpg'),
       ('vehicle', 2, 'url_vehicle2.jpg'),
       ('vehicle', 3, 'url_vehicle3.jpg'),
       ('vehicle', 4, 'url_vehicle4.jpg'),
       ('vehicle', 5, 'url_vehicle5.jpg'),
       ('order', 1, 'url_order1.jpg'),
       ('order', 2, 'url_order2.jpg'),
       ('order', 3, 'url_order3.jpg'),
       ('damage_report', 1, 'url_damage1.jpg'),
       ('damage_report', 2, 'url_damage2.jpg');